* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.main {
  background-color: #6b8a7a;
  height: 100vh;
}
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  text-align: center;
  width: 700px;
  background-color: #254336b8;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}

.form input {
  padding: 20px 15px;
  width: 400px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #5f766bbb;
  outline: 0;
  border: 0;
}
.form input::placeholder {
  color: #ffff;
}
.login {
  padding: 12px 20px;
  margin-top: 50px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #5f766bbb;
  font-size: 15px;
  font-weight: 600;
}

.login:hover {
  background-color: #254336;
  border: 1px solid;
}

/* DashBoard Page */

.dashboard {
  /* background-image: url("images/bg-image.jpg");
  height: 200vh;
  background-repeat: no-repeat;
  z-index: -1; */
  background-color: #54473F;
  height: auto;
}
.section {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header {
  margin: 50px;
  font-size: 23px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
.header h3 {
  font-style: italic;
}
.header span {
  font-size: 30px;
}
@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
.head {
  margin: 20px;
  overflow: hidden;
  width: fit-content;
  white-space: nowrap;
  animation: type 2s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* WRITING CONTAINER */

/* .writing-container{
  height: 30vh;
  width: 250px;
  background-color: #2543369d;
  display: flex;
  
  border-radius: 25px;
} */
 .writing-container{
  height: 100vh;
 }

.cont-one textarea {
  /* background-color: #ccd5aedd; */
  background-color: #9a7e6f80;
  outline: 0;
  border: 0;
  height: 30vh;
  width: 250px;
  resize: none;
  font-size: 20px;
  scrollbar-width: none;
  border-radius: 22px;
  margin: 0px 50px;
  cursor: pointer;
}
.cont-one textarea::placeholder {
  font-size: 30px;
  color: black;
  padding-top: 70px;
  text-align: center;
}
/* .new-cont{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}*/

.new-cont {
  background-color: bisque;
  border-radius: 10px;
  margin-top: 20px;
}

.new-cont textarea {
  height: 50vh;
  width: 750px;
  resize: none;
  
}
.btn, .dlt-btn {
  display: flex;
  padding: 8px 10px;
  outline: 0;
  border: 2px solid #ffff;
  border-radius: 10px;
  font-weight: 600;
}
#cancel-btn {
  float: right;
}
#dlt-btn{
  float: right;
}
.main-container {
  display: flex;
  justify-content: center;

}
/* .added-notes {
  height: 30vh;
  width: 250px;
  background-color: #ccd5aedd;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(200px, 3fr));
  gap: 16px;
} */
.added-notes{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Creates 3 equal-height rows */
  overflow: hidden;
  gap: 20px;
  word-break: break-all;
}
.writing-block {
  display: flex;
}
.note {
  height: 30vh;
  width: 250px;
  /* background-color: #ccd5aedd; */
  background-color: #9A7E6F;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.btn-div{
  display: flex;
    justify-content: space-between;
}
